<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Prayer Journal</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://use.typekit.net/ltg3vqd.css">
</head>

<body> 

<div class="page">

  <div class="page-sidebar">
    {% block sidebar %}
    <ul class="sidebar-nav">
      {% if user.is_authenticated %}
        <li class='greeting'>Hello, {{ user.get_username }}</li>
        <li class='option'><a href="{% url 'index' %}">My Notes</a></li>
        <li class='option'><a href="{% url 'note' %}">Add Note</a></li>

        {% if perms.catalog.can_view_all_notes %}
          <!-- User can view all notes everyone has made. -->
          <li class='option'><a href="{% url 'all-notes' %}">All Notes</a></li>
        {% endif %}  

        <li class='account' ><a class='account' href="{% url 'logout'%}?next=/">Logout</a></li>   
      {% else %}
        <li class='account'><a class='account' href="{% url 'login'%}?next=/">Login</a></li>   
      {% endif %} 
          
      </ul>
    {% endblock %}
  </div>


    
  <div class="page-content">
  {% block content %}{% endblock %}
  {% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
  {% endblock %}
</div>

</div>
  


</body>

</html>